#showPokemon {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.cards {
    border: 2px #E0B9B1 solid;
    margin: 18px;
    width: 100px;
    padding: 20px;
    border-radius: 20px;
    font-family: monospace;
    font-size: 12px;
    font-weight: 400;
}